@media (max-width: 560px) {
    .wrap {
        flex-direction: column;
    }

    #add {
        height: 42px;
    }
}


@media (max-width: 430px) {
    #testModal {
        display: flex;
        flex-direction: column;
    }

    .testWrap {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #check {
        margin: 0;
    }
}